.git
.gitattributes
**/.DS_Store
**/.vscode
**/.idea
**/.env
**/.husky
**/build
**/coverage
**/jest.config.js
**/dist
**/node_modules
**/ormconfig.json
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
