.bar {
  display: flex;
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: 30rem;
  justify-content: space-between;
  background: rgba(200, 200, 200, 0.6);
  border: 0.1rem solid #555;
  border-radius: 2rem;
  font-weight: bold;
}

.type {
  color: #23659e;
}

.value {
  color: #77c51d;
}
